.hidden {
    display: none;
}

.mg0 {
    margin: 0 !important;
}

.mgl-0 {
    margin-left: 0px;
}

.mgr-0 {
    margin-right: 0px;
}

.mgt-0 {
    margin-top: 0px;
}

.mgb-0 {
    margin-bottom: 0px;
}

.mg5 {
    margin: 5px !important;
}

.mgl-5 {
    margin-left: 5px;
}

.mgr-5 {
    margin-right: 5px;
}

.mgt-5 {
    margin-top: 5px;
}

.mgb-5 {
    margin-bottom: 5px;
}

.mg10 {
    margin: 10px !important;
}

.mgl-10 {
    margin-left: 10px;
}

.mgr-10 {
    margin-right: 10px;
}

.mgt-10 {
    margin-top: 10px;
}

.mgb-10 {
    margin-bottom: 10px;
}

.mg15 {
    margin: 15px !important;
}

.mgl-15 {
    margin-left: 15px;
}

.mgr-15 {
    margin-right: 15px;
}

.mgt-15 {
    margin-top: 15px;
}

.mgb-15 {
    margin-bottom: 15px;
!important;
}

.mg20 {
    margin: 20px !important;
}

.mgl-20 {
    margin-left: 20px;
}

.mgr-20 {
    margin-right: 20px;
}

.mgt-20 {
    margin-top: 20px;
}

.mgb-20 {
    margin-bottom: 20px;
}

.mg25 {
    margin: 25px !important;
}

.mgl-25 {
    margin-left: 25px;
}

.mgr-25 {
    margin-right: 25px;
}

.mgt-25 {
    margin-top: 25px;
}

.mgb-25 {
    margin-bottom: 25px;
}

.mg30 {
    margin: 30px !important;
}

.mgl-30 {
    margin-left: 30px;
}

.mgr-30 {
    margin-right: 30px;
}

.mgt-30 {
    margin-top: 30px;
}

.mgb-30 {
    margin-bottom: 30px;
}

.pd0 {
    padding: 0 !important;
}

.pd10 {
    padding: 10px !important;
}

.pdl-0 {
    padding-left: 0 !important;
}

.pdr-0 {
    padding-right: 0 !important;
}

.pdt-0 {
    padding-top: 0 !important;
}

.pdb-0 {
    padding-bottom: 0 !important;
}

.pd5 {
    padding: 5px !important;
}

.pdr-5 {
    padding-right: 5px !important;
}

.pdl-5 {
    padding-left: 5px !important;
}

.pdt-5 {
    padding-top: 5px !important;
}

.pdb-5 {
    padding-bottom: 5px !important;
}

.pd10 {
    padding: 10px !important;
}

.pdl-10 {
    padding-left: 10px !important;
}

.pdr-10 {
    padding-right: 10px !important;
}

.pdt-10 {
    padding-top: 10px !important;
}

.pdb-10 {
    padding-bottom: 10px !important;
}

.pd15 {
    padding: 15px !important;
}

.pdl-15 {
    padding-left: 15px !important;
}

.pdr-15 {
    padding-right: 15px !important;
}

.pdt-15 {
    padding-top: 15px !important;
}

.pdb-15 {
    padding-bottom: 15px !important;
}

.pd20 {
    padding: 20px !important;
}

.pdl-20 {
    padding-left: 20px !important;
}

.pdr-20 {
    padding-right: 20px !important;
}

.pdt-20 {
    padding-top: 20px !important;
}

.pdb-20 {
    padding-bottom: 20px !important;
}

.pd25 {
    padding: 25px !important;
}

.pdl-25 {
    padding-left: 25px !important;
}

.pdr-25 {
    padding-right: 25px !important;
}

.pdt-25 {
    padding-top: 25px !important;
}

.pdb-25 {
    padding-bottom: 25px !important;
}

.pd30 {
    padding: 30px !important;
}

.pdl-30 {
    padding-left: 30px !important;
}

.pdr-30 {
    padding-right: 30px !important;
}

.pdt-30 {
    padding-top: 30px !important;
}

.pdb-30 {
    padding-bottom: 30px !important;
}

.has-error {
    color: red;
}

.alert-message {
    position: fixed;
    top: 50px;
    z-index: 99999;
    width: 40%;
    text-align: center;
    overflow: hidden;
    margin-left: 30%;
    background: #e6002c;
    border: 1px solid #e6002c;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.fixNav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000;
}

.show-sp-mobile {
    display: none;
}

.cart-body {
    z-index: 99999;
}

.inner-header {
    background-color: #ffffff
}

.beta-breadcrumb, .beta-breadcrumb a {
    color: #288ad6;
    padding: 10px 0;
    font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
}

.beta-breadcrumb span {
    display: inline-block;
    color: #999;
    font-size: 20px;
    padding: 2px 5px 0 0;
    line-height: 1;
}

.inner-title {
    color: #0c0c0c;
}

.main-menu > ul.l-inline > li > a {
    color: #fff;
    padding: 13px 35px 15px 35px;
}

.main-menu > ul.l-inline > li {

}

.main-menu > ul.l-inline > li > a:first-child {
    padding-left: 20px;
    padding-right: 20px;
}

#logo img {
    padding-left: 20px;
    padding-right: 20px;
}

#searchform #s {
    border-radius: 5px;
}

.copyright a {
    padding: 10px;
}

.banner {
    max-height: 100%;
}

#social-right-fixed {
    position: fixed;
    right: 5px;
    top: 50%;
    margin-top: -90px;
    z-index: 99999;
    width: 38px;
}

#social-right-fixed a {
    display: block;
    font-size: 13px;
    cursor: pointer;
}

#social-right-fixed .icons {
    display: inline-block;
    background-image: url("/themes/page/images/icons/sprite2.png");
    background-repeat: no-repeat;
    height: 33px;
    width: 33px;
}

i.icons.icon-sright-fb {
    background-position: -3px -6px;
}

i.icons.icon-sright-yo {
    background-position: -3px -42px;
}

i.icons.icon-sright-mail {
    background-position: -3px -78px;
}

i.icons.icon-sright-tel {
    background-position: -3px -115px;
}

i.icons.icon-sright-up {
    width: 38px !important;
    background-position: -2px -147px;
}

@media only screen and (max-width: 1440px) {
    .cart-body {
        right: 115px;
    }
}

@media only screen and (max-width: 768px) {
    .menu-mobile {
        display: block;
    }

    .menu-mobile .navbar {
        z-index: 99999;
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

    .dropdown-submenu.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }

    .beta-breadcrumb, .beta-breadcrumb a {
        display: none;
    }
}

