.fixNav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000;
}

.cart-body {
    z-index: 999;
}

.inner-header {
    background-color: #ffffff
}

.inner-title, .beta-breadcrumb, .beta-breadcrumb a {
    color: black
}

.main-menu > ul.l-inline > li > a {
    color: #fff;
    padding: 13px 35px 15px 35px;
}

.main-menu > ul.l-inline > li {

}

.main-menu > ul.l-inline > li > a:first-child {
    padding-left: 20px;
    padding-right: 20px;
}

#logo img {
    padding-left: 20px;
    padding-right: 20px;
}

#searchform #s {
    border-radius: 5px;
}

.copyright a {
    padding: 10px;
}

.banner {
    max-height: 100%;
}

#social-right-fixed {
    position: fixed;
    right: 5px;
    top: 50%;
    margin-top: -90px;
    z-index: 99999;
    width: 38px;
}

#social-right-fixed a {
    display: block;
    font-size: 13px;
    cursor: pointer;
}

#social-right-fixed .icons {
    display: inline-block;
    background-image: url("/themes/page/images/icons/sprite2.png");
    background-repeat: no-repeat;
    height: 33px;
    width: 33px;
}

i.icons.icon-sright-fb {
    background-position: -3px -6px;
}

i.icons.icon-sright-yo {
    background-position: -3px -42px;
}

i.icons.icon-sright-mail {
    background-position: -3px -78px;
}

i.icons.icon-sright-tel {
    background-position: -3px -115px;
}

i.icons.icon-sright-up {
    width: 38px !important;
    background-position: -2px -147px;
}

